# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so

# Compiled Static libraries
*.lai
*.la
*.a

# Autoconf
# configure
# Makefile
# Makefile.in
# aclocal.m4
# config.log
# config.status

# tmux-specific
tmux
.deps

